
<div class="container" style="
    background-color: #e8e8e8;
    border-radius: 10px;


" >

    <h2 style="margin-left: 10px">Блог</h2>
<div style="text-align: right; border: 1px solid; width: auto;">
    <b style="margin-right: 10px;">Здарова пиздун</b>
</div>
<div style="display: flex;">
    <div style=" left: 0; border: 1px solid; width: 70%; height: 50%;">
        <b style="margin-left: 10px;">Динамический блок</b>
    </div>
    <div style=" right:0; border: 1px solid; width: 30%; height: 50%;">
        <b style="margin-left: 10px;">Меню</b>

    </div>
</div>


</div>
